
// Fonts
// -------------------------
$font-size-base: 22px;

$font-size-small: ceil($font-size-base * 0.6); // ~14px
$font-size-normal: $font-size-base;
$font-size-large: round($font-size-base * 1.2); // ~26px


// Viewport dimensions
// -------------------------
$size-mobile:               640px;     // Maximum mobile screen width
$size-tablet:  $size-mobile + 1px;     // Minimum tablet screen width
$size-desktop:              960px;     // Minimum desktop screen width
$size-widescreen:          1200px;     // Minimum wide screen width
$size-facebook-iframe:      760px;     // Facebook iFrame
$size-iphone-landscape:     480px;     // 480*320 - iPhone Landscpe
$size-iphone-portrait:      320px;     // 320*480 - iPhone Portrait
$size-sticky-trigger:       660px;     // Size at which the sticky footer gets triggered
