<h4>This app is requesting <a href="https://developer.foursquare.com/docs/" target="_blank">Foursquare API</a> data to show nearest venues.</h4>
<br/><br/>
<h5>Location field is required and should be at least 3 characters.</h5>
<h6>ex.: "Shoreditch, London"</h6>
<br/>
<h5>Query field is optional.</h5>
<p>If it's not provided, app will use <a href="https://developer.foursquare.com/docs/venues/explore" target="_blank">/explore</a> endpoint. </p>
<p>If it's provided, app will use <a href="https://developer.foursquare.com/docs/venues/search" target="_blank">/search</a> endpoint. </p>
<h6>ex.: "Pizza", "Donuts"</h6>
<br/>
<h5>Search results are diplaying venues names, rating(explore endpoint only) and checkins.</h5>
