<div class="search-wrapper">
  <form name="searchForm" role="form" novalidate ng-submit="searchFormSubmit()">
    <div class="form-search">

      <div class="row">
        <div class="col-md-10">
          <div class="form-group field-search-location">
            <div class="row">
              <div class="col-md-4">
                <input type="text"
                       placeholder="Location"
                       name="location"
                       class="form-control"
                       ng-model="search.location"
                       ng-minlength=3
                       required/>
              </div>
              <div class="col-md-8">
                <input type="text"
                       placeholder="Query"
                       name="query"
                       class="form-control"
                       ng-model="search.query"/>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-2">
          <button type="submit"
                  class="btn btn-default btn-warning form-btn-search"
                  ng-disabled="searchForm.$invalid">Search
          </button>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="required error-common" ng-show="error">{{error.message}}</div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="results">
  <div class="loading" ng-show="loading">Looking for venues..</div>

  <div ng-show="venues.length > 0">
    <ul class="venues">
      <li class="venue" ng-repeat="venue in venues">
        <venue-item content="venue"></venue-item>
      </li>
    </ul>
  </div>

  <div ng-show="groups.length > 0">
    <div class="group" ng-repeat="group in groups">
      <h3>{{group.name.toUpperCase()}}</h3>
      <ul class="items">
        <li class="item" ng-repeat="item in group.items">
          <venue-item content="item.venue"></venue-item>
        </li>
      </ul>
    </div>
  </div>

</div>
